.App {
  text-align: center;
  background-color: rgb(245,245,245);
  background-size: cover;
}


@font-face {
font-family: "Avaraa";
src: url("fonts/Avara-Black.otf");
}

@font-face {
  font-family: "Varta";
  src: url("fonts/Varta-Medium.ttf")
}

.seeIt {
  display: none
}

.super {
  height: 250px;
  width: 250px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top:210px;
  text-align: center;
  z-index: 2;
}

.background {
  height: 300px;
  width: 300px;
  top:50px;
  margin-left: auto;
  margin-right: auto;

}

